Checks: '
-*,
bugprone-*,
cert-*,
clang-analyzer-*,
cppcoreguidelines-*,
hicpp-*,
misc-*,
modernize-*,
performance-*,
portability-*,
readability-*,
-hicpp-exception-baseclass
-cert-dcl16-c,
-readability-uppercase-literal-suffix,
-hicpp-uppercase-literal-suffix,
-hicpp-named-parameter
'
WarningsAsErrors: '
-*,
bugprone-*,
cert-*,
clang-analyzer-*,
cppcoreguidelines-*,
hicpp-*,
misc-*,
modernize-*,
performance-*,
portability-*,
readability-*,
-hicpp-exception-baseclass
'
